.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    width: 30%;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /* margin: 2rem 1rem; */
}